@model ASPNetOgameLikeTP.Models.GameAdminVM

@{
    ViewBag.Title = "Configure";
}

<h2>Configure</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Configuration du jeu</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.GlobalGameConfiguration.SolarSystemNb, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GlobalGameConfiguration.SolarSystemNb, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GlobalGameConfiguration.SolarSystemNb, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GlobalGameConfiguration.PlanetsNb, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GlobalGameConfiguration.PlanetsNb, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GlobalGameConfiguration.PlanetsNb, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GlobalPlanetConfiguration.ResourcesIds, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.GlobalPlanetConfiguration.ResourcesIds, Model.Resources.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() }), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GlobalPlanetConfiguration.ResourcesIds, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GlobalPlanetConfiguration.BuildingsIds, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.GlobalPlanetConfiguration.BuildingsIds, Model.Buildings.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() }), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GlobalPlanetConfiguration.BuildingsIds, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Configurer le jeu" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.RouteLink("Retour à l'accueil","Default")
</div>

