@model ASPNetOgameLikeTP.Models.GameUserVM

<div class="row">
    <div class="col-md-5" style="text-align:center">
        <img class="col-md-5" style="text-align:center" src="@Url.Content(@Model.PrincipalPlanet.Print)" />
        <div class="col-md-5" style="text-align:left">
            @Html.DisplayFor(x => Model.PrincipalPlanet.Name)
        </div>
    </div>
    <div class="col-md-5" style="text-align:center" id="contentResources">
        @Html.Action("GetResources", "GameUser", new { resources = Model.PrincipalPlanet.Resources })
    </div>
</div>

<div class="row">
    @{
        foreach (var item in Model.PrincipalPlanet.Buildings)
        {
            string buildingHTMLId = "building" + item.Id;

            <div class="col-md-3" style="text-align:center" id="@buildingHTMLId">
                @Html.Action("GetBuilding", "GameUser", new { building = item, vm = Model })
            </div>
        }
    }
</div>
