@model List<ASPNetOgameLikeTPClassLibrary.Entities.Resource>

@{

    foreach (var item in Model)
    {
        var resourceId = "res-" + item.Name + "-qty";
        <div class="row">
            <img class="col-md-3" src="@Url.Content(@item.Print)" />
            <div class="col-md-3" style="text-align:center">
                @Html.DisplayFor(x => item.Name)
            </div>
            <div id="@resourceId" class="col-md-3" style="text-align:center">
                @Html.DisplayFor(x => item.LastQuantity)
            </div>
        </div>
    }
}
